@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

* { -webkit-font-smoothing: antialiased; }

@layer base {
  :root {
    --color-base: 32 57% 95%;
    --color-surface: 35 100% 98%;
    --color-overlay: 33 43% 91%;
    --color-muted: 257 9% 61%;
    --color-subtle: 248 12% 52%;
    --color-text: 248 19% 40%;
    --color-love: 343 35% 55%;
    --color-gold: 35 81% 56%;
    --color-rose: 3 53% 67%;
    --color-pine: 197 53% 67%;
    --color-foam: 189 30% 48%;
    --color-iris: 268 21% 57%;
    --color-hl-low: 25 35% 93%;
    --color-hl-med: 10 9% 86%;
    --color-hl-high: 315 4% 80%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-base: 249 22% 12%;
      --color-surface: 247 23% 15%;
      --color-overlay: 248 25% 18%;
      --color-muted: 249 12% 47%;
      --color-subtle: 248 15% 61%;
      --color-text: 245 50% 91%;
      --color-love: 343 76% 68%;
      --color-gold: 35 88% 72%;
      --color-rose: 2 55% 83%;
      --color-pine: 197 49% 38%;
      --color-foam: 189 43% 73%;
      --color-iris: 267 57% 78%;
      --color-hl-low: 244 18% 15%;
      --color-hl-med: 249 15% 28%;
      --color-hl-high: 248 13% 36%;
    }
  }
}

@layer base {
  @font-face {
    font-family: "OpenSansCondensed";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/OpenSans_Condensed-Regular.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "OpenSansCondensed";
    font-style: light;
    font-weight: 200;
    src: url("/fonts/OpenSans_Condensed-Light.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "GamjaFlower";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/GamjaFlower-Regular.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "MeganJune";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/MeganJune.otf"), local("otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Finland";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Finland.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "PTSerif";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PTSerif-Regular.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Crayon";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/crayon.ttf"), local("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Noto_Serif_TC/NotoSerifTC-Regular.otf"),
      local("otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf"), local("otf");
    font-display: swap;
  }

  @font-face {
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Silkscreen/Silkscreen-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format('truetype');
  }
  @font-face {
    font-family: 'NotoSansTC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Noto_Sans_TC/NotoSansTC-VariableFont_wght.ttf") format('truetype');
  }
  @font-face {
    font-family: 'PressStart2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PressStart2P-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Minecraft.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'RetroGaming';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/RetroGaming.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'PerfectDOS';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PerfectDOS.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Pixeled';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Pixeled.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Pixellari';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Pixellari.ttf") format('truetype');
  } 
  @font-face {
    font-family: 'PixelOperator';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PixelOperator.ttf") format('truetype');
  }
  @font-face {
    font-family: 'OpenSansPX';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/OpenSansPX.ttf") format('truetype');
  }

  @font-face {
    font-family: 'AnonymousPro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'AnonymousPro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Anonymous_Pro/AnonymousPro-Italic.ttf") format('truetype');
  }
  @font-face {
    font-family: 'AnonymousPro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Anonymous_Pro/AnonymousPro-Bold.ttf") format('truetype');
  }
  @font-face {
    font-family: 'AnonymousPro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Anonymous_Pro/AnonymousPro-BoldItalic.ttf") format('truetype');
  }


  .article p {
    color: hsl(var(--color-text));
    font-family: Georgia, Cambria, serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 16px 0;
  }
  .article p:first-child {
    margin-top: 0;
  }
  .article p:last-child {
    margin-bottom: 0;
  }

  .article h3 {
    color: hsl(var(--color-text));
    font-family: "PerfectDOS", serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    margin: 48px 0 16px;
  }

  .article pre {
    border: 4px solid hsl(var(--color-hl-high));
    background-color: hsl(var(--color-surface));
    padding: 16px;
    overflow-x: auto;
  }

  .article p > code {
    background-color: hsl(var(--color-hl-med));
    border-radius: 4px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    white-space: wrap;
    word-break: break-all;
    padding: 2px 6px;
  }

  .article a {
    color: hsl(var(--color-gold));
  }

  @media (prefers-color-scheme: light) {
    /**
     * MIT License
     * Rosé Pine Theme
     * https://github.com/rose-pine
     * Ported for PrismJS by fvrests [@fvrests]
     */

    code[class*="language-"],
    pre[class*="language-"] {
	    color: #575279;
	    background: #faf4ed;
	    font-family: "Cartograph CF", ui-monospace, SFMono-Regular, Menlo, Monaco,
		    Consolas, "Liberation Mono", "Courier New", monospace;
	    text-align: left;
	    white-space: pre;
	    word-spacing: normal;
	    word-break: normal;
	    word-wrap: normal;
	    line-height: 1.5;

	    -moz-tab-size: 4;
	    -o-tab-size: 4;
	    tab-size: 4;

	    -webkit-hyphens: none;
	    -moz-hyphens: none;
	    -ms-hyphens: none;
	    hyphens: none;

	    @media print {
		    text-shadow: none;
	    }
    }

    /* Selection */
    code[class*="language-"]::-moz-selection,
    pre[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection,
    pre[class*="language-"] ::-moz-selection {
	    background: #dfdad9;
    }

    code[class*="language-"]::selection,
    pre[class*="language-"]::selection,
    code[class*="language-"] ::selection,
    pre[class*="language-"] ::selection {
	    background: #dfdad9;
    }

    /* Code (block & inline) */
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
	    color: #575279;
	    background: #faf4ed;
    }

    /* Code blocks */
    pre[class*="language-"] {
	    padding: 1em;
	    margin: 0.5em 0;
	    overflow: auto;
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
	    padding: 0.1em;
	    border-radius: 0.3em;
	    white-space: normal;
	    color: #575279;
	    background: #faf4ed;
    }

    /* Text style & opacity */
    .token.entity {
	    cursor: help;
    }

    .token.important,
    .token.bold {
	    font-weight: bold;
    }

    .token.italic,
    .token.selector,
    .token.doctype,
    .token.attr-name,
    .token.inserted,
    .token.deleted,
    .token.comment,
    .token.prolog,
    .token.cdata,
    .token.constant,
    .token.parameter,
    .token.url {
	    font-style: italic;
    }

    .token.url {
	    text-decoration: underline;
    }

    .namespace {
	    opacity: 0.7;
    }

    /* Syntax highlighting */
    .token.constant {
	    color: #575279;
    }

    .token.comment,
    .token.prolog,
    .token.cdata,
    .token.punctuation {
	    color: #797593;
    }

    .token.delimiter,
    .token.important,
    .token.atrule,
    .token.operator,
    .token.keyword {
	    color: #286983;
    }

    .token.tag,
    .token.tag .punctuation,
    .token.doctype,
    .token.variable,
    .token.regex,
    .token.class-name,
    .token.selector,
    .token.inserted {
	    color: #56949f;
    }

    .token.boolean,
    .token.entity,
    .token.number,
    .token.symbol,
    .token.function {
	    color: #d7827e;
    }

    .token.string,
    .token.char,
    .token.property,
    .token.attr-value,
    .token.attr-value .punctuation {
	    color: #ea9d34;
    }

    .token.parameter,
    .token.url,
    .token.name,
    .token.attr-name,
    .token.builtin {
	    color: #907aa9;
    }

    .token.deleted {
	    color: #b4637a;
    }

    /* Insertions & deletions */
    .token.inserted {
	    background: rgba(86 148 159 0.12);
    }

    .token.deleted {
	    background: rgba(180 99 122 0.12);
    }

    /* Line highlighting */
    pre[data-line] {
	    position: relative;
    }

    pre[class*="language-"] > code[class*="language-"] {
	    position: relative;
	    z-index: 1;
    }

    .line-highlight,
    .highlight-lines .highlighted {
	    position: absolute;
	    left: 0;
	    right: 0;
	    padding: inherit 0;
	    margin-top: 1em;

	    background: #dfdad9;
	    box-shadow: inset 5px 0 0 #575279;

	    z-index: 0;

	    pointer-events: none;

	    line-height: inherit;
	    white-space: pre;
    }
  }


  @media (prefers-color-scheme: dark) {
    /**
     * MIT License
     * Rosé Pine Theme
     * https://github.com/rose-pine
     * Ported for PrismJS by fvrests [@fvrests]
     */

    code[class*="language-"],
    pre[class*="language-"] {
	    color: #e0def4;
	    background: #191724;
	    font-family: "Cartograph CF", ui-monospace, SFMono-Regular, Menlo, Monaco,
		    Consolas, "Liberation Mono", "Courier New", monospace;
	    text-align: left;
	    white-space: pre;
	    word-spacing: normal;
	    word-break: normal;
	    word-wrap: normal;
	    line-height: 1.5;

	    -moz-tab-size: 4;
	    -o-tab-size: 4;
	    tab-size: 4;

	    -webkit-hyphens: none;
	    -moz-hyphens: none;
	    -ms-hyphens: none;
	    hyphens: none;

	    @media print {
		    text-shadow: none;
	    }
    }

    /* Selection */
    code[class*="language-"]::-moz-selection,
    pre[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection,
    pre[class*="language-"] ::-moz-selection {
	    background: #403d52;
    }

    code[class*="language-"]::selection,
    pre[class*="language-"]::selection,
    code[class*="language-"] ::selection,
    pre[class*="language-"] ::selection {
	    background: #403d52;
    }

    /* Code (block & inline) */
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
	    color: #e0def4;
	    background: #191724;
    }

    /* Code blocks */
    pre[class*="language-"] {
	    padding: 1em;
	    margin: 0.5em 0;
	    overflow: auto;
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
	    padding: 0.1em;
	    border-radius: 0.3em;
	    white-space: normal;
	    color: #e0def4;
	    background: #191724;
    }

    /* Text style & opacity */
    .token.entity {
	    cursor: help;
    }

    .token.important,
    .token.bold {
	    font-weight: bold;
    }

    .token.italic,
    .token.selector,
    .token.doctype,
    .token.attr-name,
    .token.inserted,
    .token.deleted,
    .token.comment,
    .token.prolog,
    .token.cdata,
    .token.constant,
    .token.parameter,
    .token.url {
	    font-style: italic;
    }

    .token.url {
	    text-decoration: underline;
    }

    .namespace {
	    opacity: 0.7;
    }

    /* Syntax highlighting */
    .token.constant {
	    color: #e0def4;
    }

    .token.comment,
    .token.prolog,
    .token.cdata,
    .token.punctuation {
	    color: #908caa;
    }

    .token.delimiter,
    .token.important,
    .token.atrule,
    .token.operator,
    .token.keyword {
	    color: #31748f;
    }

    .token.tag,
    .token.tag .punctuation,
    .token.doctype,
    .token.variable,
    .token.regex,
    .token.class-name,
    .token.selector,
    .token.inserted {
	    color: #9ccfd8;
    }

    .token.boolean,
    .token.entity,
    .token.number,
    .token.symbol,
    .token.function {
	    color: #ebbcba;
    }

    .token.string,
    .token.char,
    .token.property,
    .token.attr-value,
    .token.attr-value .punctuation {
	    color: #f6c177;
    }

    .token.parameter,
    .token.url,
    .token.name,
    .token.attr-name,
    .token.builtin {
	    color: #c4a7e7;
    }

    .token.deleted {
	    color: #eb6f92;
    }

    /* Insertions & deletions */
    .token.inserted {
	    background: rgba(156 207 216 0.12);
    }

    .token.deleted {
	    background: rgba(235 111 146 0.12);
    }

    /* Line highlighting */
    pre[data-line] {
	    position: relative;
    }

    pre[class*="language-"] > code[class*="language-"] {
	    position: relative;
	    z-index: 1;
    }

    .line-highlight,
    .highlight-lines .highlighted {
	    position: absolute;
	    left: 0;
	    right: 0;
	    padding: inherit 0;
	    margin-top: 1em;

	    background: #403d52;
	    box-shadow: inset 5px 0 0 #e0def4;

	    z-index: 0;

	    pointer-events: none;

	    line-height: inherit;
	    white-space: pre;
    }
  }
}
